.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: -20px !important;
    width: 100%;
    height: 70vh !important;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    transition: transform 0.3s ease;
}
.add-bagIcon{
    color: white;
    background-color: black;
    width: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40px;
}

.product-card:hover {
    transform: translateY(-5px);
}

.image-container {
    background-color: white;
    padding: 40px;
    height: 16vh;
    border-radius: 20px;
    margin-bottom: 8px;
    img{
        height: 15vh;
    }
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.product-name {
    font-size: 1.2rem;
    color: #333;
    margin: 0px 0;
}
.product-info{
    text-align: left;
    padding: -100px !important;
    margin: -10;
}

.product-description {
    font-size: 1rem;
    color: #777;
    margin-top: 5px;
}

.product-price {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}
@media screen and (max-width: 553px) {
    .product-grid{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    
}
@media screen and (min-width: 553px) and (max-width: 775px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }
}


