.shopping-bag {
    top: 0;
    right: 0;
    width: 20%;
    height: 80vh;
    margin-top: 50px;
    background: #ededed;
    border-left: 3px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
body{
    background: #ededed !important;
}

.bag-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.bag-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    row-gap: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.bag-item {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bag-item-image {
    max-width: 100%;
    max-height: 100%;
}

.view-bag-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.view-bag-button:hover {
    background-color: #555;
}

.view-bag-button .icon {
    margin-right: 8px;
    font-size: 1.2rem;
}
