.payment-page {
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.product-page-section{
    width: 70%;
}
.detail-page{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .payment-page {
        padding: 10px;
    }
}
